# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cache
# Virtual environment
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.local
.env.dev
.env.prod

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
*.db

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# FastAPI-specific
# Exclude uploaded files or temporary files (if applicable)
uploads/
tmp/

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db